<!-- Footer: 2 sections -->
<footer class="footer">
  <!-- Section 1-->
  <section class="footer-section">
    <!-- Section 1: article 1-->
    <article class="footer-article">
      <i class="fas fa-credit-card"></i>
      <h3 class="footer-section-article-h3">Pagá con criptomonedas</h3>
      <p class="footer-section-p">
        Pagando con PayCrypt, podés utilizar tu billetera virtual de confianza y
        cualquier criptomoneda. ¡Y siempre es seguro!
      </p>
    </article>
    <!-- Section 1: article 2-->
    <article class="footer-article">
      <i class="fas fa-gift"></i>
      <h3 class="footer-section-article-h3">Olvidate de las comisiones</h3>
      <p class="footer-section-p">
        Usando nuestro sistema P2P, olvidate para siempre de las comisiones. Es
        un beneficio de PayCrypt.
      </p>
    </article>
    <!-- Section 1: Article 3-->
    <article class="footer-article">
      <i class="fas fa-user-shield"></i>
      <h3 class="footer-section-article-h3">Seguridad, de principio a fin</h3>
      <p class="footer-section-p">
        ¿No te gusta? ¡Devolvelo! Con PayCrypt, no hay nada que no puedas hacer,
        porque estás siempre protegido.
      </p>
    </article>
  </section>
  <!-- Section 2-->
  <section class="footer-copyright">
    <p class="footer-section-p">Copyright © 1999-2020 PayCrypt S.R.L.</p>
  </section>
</footer>
