<!-- Header: menu, logo, search, nav -->
<header class="header">
  <!-- Menu -->
  <div class="header-menu">
    <span class="material-icons"> menu </span>
  </div>
  <!-- Logo -->

  <a href="/" class="header-logo">
    <img class="header-logo-img" src="/images/paycrypt-logo.svg"
  /></a>

  <ul class="header-nav-menu">
    <li>Productos <span class="material-icons"> arrow_drop_down </span></li>
    <li>Cotizaciones <span class="material-icons"> arrow_drop_down </span></li>
  </ul>
  <!-- Search -->
  <form class="header-search">
    <input
      type="text"
      class="header-search-bar"
      placeholder="Buscá productos, marcas y más..."
      maxlength="120"
    />
    <button type="submit" class="header-search-button">
      <span class="material-icons"> search </span>
    </button>
  </form>
  <nav class="header-nav">
    <% if (locals.isLogged) { %>
    <!-- User -->
    <a href="/user/profile" class="header-nav-user"
      ><span class="material-icons"> account_circle </span></a
    >
    <a href="/user/profile" class="header-nav-username"
      ><%= locals.userLogged.name %></a
    >
    <!-- Cart -->
    <a href="/product/cart" class="header-nav-shop">Mis compras</a>
    <a href="/product/cart" class="header-nav-cart">
      <span class="material-icons"> shopping_cart </span>
    </a>
    <% } else { %>
    <!-- Log In -->
    <a href="/user/login" class="header-nav-login">Ingresá</a>
    <% } %>
  </nav>
</header>
