<!DOCTYPE html>
<html lang="es-AR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Volkswagen Golf 0km, DSG 1.4t año 2021 | PayCrypt</title>
    <link rel="stylesheet" href="/css/styles_product_detail.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header: menu, logo, search, nav  -->
    <header class="header">
      <!-- Menu  -->
      <div class="header-menu">
        <span class="material-icons"> menu </span>
      </div>
      <!-- Logo  -->
      <div class="header-logo">
        <img class="header-logo-img" src="/images/paycrypt-logo.svg" />
      </div>
      <!-- Search  -->
      <div class="header-search">
        <span class="material-icons"> search </span>
      </div>
      <!-- Nav  -->
      <nav class="header-nav">
        <span class="material-icons"> shopping_cart </span>
      </nav>
    </header>
    <!-- Main: 2 sections, 3 articles  -->
    <main>
      <!-- Section 1: image  -->
      <section>
        <img class="main-section-img" src="/images/auto.jpg" />
      </section>
      <!-- Section 2: 3 articles - name, description, pay details - button add to cart  -->
      <section class="main-section">
        <!-- Article 1: name  -->
        <article class="main-section-article">
          <h1 class="main-section-article-h1">Volkswagen Golf</h1>
          <h2 class="main-section-article-h2">0km, DSG 1.4t año 2021</h2>
          <div class="main-section-article-price">
            25.000
            <img class="main-section-article-img" src="/images/usdt-logo.svg" />
          </div>
        </article>
        <!-- Article 2: description  -->
        <article class="main-section-article-2">
          <div class="main-section-article-div">
            <h3 class="main-section-article-h3">Descripción</h3>
            <ul class="main-section-article-ul">
              <li>Dirección eléctrica</li>
              <li>Frenos ABS</li>
              <li>Alarma</li>
              <li>Control eléctrico para los retrovisores</li>
              <li>Reproductor de MP3</li>
            </ul>
          </div>
        </article>
        <!-- Article 3: pay details, button add to cart  -->
        <article class="main-section-article-2">
          <div class="main-section-article-div">
            <h3>Detalle de pago</h3>
            <span class="main-section-article-ul"> P2P </span>
            <span>
              <ul>
                <li>
                  25.000
                  <img
                    class="main-section-article-img"
                    src="/images/usdt-logo.svg"
                  />
                </li>
                <li>
                  0.53175
                  <img
                    class="main-section-article-img"
                    src="/images/btc-logo.svg"
                  />
                </li>
                <li>
                  7.23225
                  <img
                    class="main-section-article-img"
                    src="/images/eth-logo.svg"
                  />
                </li>
              </ul>
            </span>
            <button>Agregar al carrito</button>
          </div>
        </article>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
