.banner{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    align-items: center;
    min-height:65vh;
}

.video{
    justify-content: center;
}

.texto{
    margin: 20px;
    width: 600px;
    text-align: center;
}

h2{
text-align: center;
}


