.buscados {
    font-size: 20px;
    margin-left: 25px;
    margin-top: 30px;
}

.info{

    display: flex;
    justify-content: center;
}

.data{
    box-shadow: 0px 0px 10px 0px rgb(100 100 100);
    width: 250px;
    border-radius: 5px;
    margin: 15px;

}

p{
    text-align: center;
}

.numeros{
    font-size: 33px;
    color: green;

}

.grafico{
    margin-top: 50px;
    text-align: center;
}