* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  background: none;
  color: inherit;
  text-decoration: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
}

/* CONTENEDOR DEL HEADER*/

/* header */

.header {
  background-color: white;
  height: 50px;
  box-shadow: 0px 0px 3px rgb(100, 100, 100);
}

.header-menu {
  width: 45px;
  height: 50px;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  width: 45px;
  height: 50px;
  position: absolute;
  left: 45px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.header-nav-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 150px;
  width: 45px;
  height: 50px;
}

.header-nav-menu li {
  display: none;
}

.header-logo-img {
  height: 100%;
}

.header-search {
  display: none;
  position: absolute;
  right: 90px;
}

.header-search-bar {
  display: none;
}

.header-search-button {
  width: 45px;
  height: 50px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  height: 50px;
}

.header-nav-login {
  display: none;
}

.header-nav-user {
  display: none;
}

.header-nav-username {
  display: none;
}

.header-nav-shop {
  display: none;
}

.header-nav-cart {
  display: none;
}

/* main */

body {
  background-color: #2790c3;
}

.img-formulario-login {
  width: 200px;
}

.titulo-formulario-login {
  /* text-align: left; */
  /* margin-left: 23px; */
  position: relative;
  right: 50px;
  margin-bottom: 5px;
}

.formulario-flex-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-formulario-login {
  width: 100%;
  margin: auto;
  padding: 10px;
  background-color: #ffff;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  height: 470px;
}

/*INPUTS EN LOGIN*/
.inputs-en-login {
  align-self: center;
}

/* CONTROL DE TODOS LOS ELEMENTOS DEL FORMULARIO*/
.formulario-control {
  margin: 10px;
  padding: 10px;
  border: grey solid 1px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 332px;
  height: 50px;
}

/* CONTROL DEL LABEL (Ingresa tus datos) */
.p-datos-login {
  font-size: 20px;
  text-align: center;
}

/* boton formulario CONTINUAR*/
.boton-formulario-continuar {
  background-color: #27346a;
  color: #ffff;
  border-radius: 5px;
  padding: 7px;
  width: 332px;
  height: 30px;
  margin: auto;
  margin-top: 14px;
  margin-bottom: 14px;
}
/* SUBRAYADO DEL BOTON AL TENER EL MOUSE ENCIMA*/
.boton-formulario-continuar:hover {
  text-decoration: underline;
}

/* boton formulario CREAR CUENTA*/

.boton-formulario-crear-cuenta {
  background-color: #ffff;
  color: #27346a;
  text-align: center;
  margin: 10px;
}

/* SUBRAYADO DEL BOTON AL TENER EL MOUSE ENCIMA*/

.boton-formulario-crear-cuenta:hover {
  text-decoration: underline;
}

/* HIPERVINCULO OLVIDASTE TU CLAVE*/
.olvidaste-tu-contraseña {
  /*margin: right; */
  /* align-self: end; */
  /* padding: 5px; */
  padding: 5px;
  font-size: 14px;
  margin-bottom: 11px;
  margin-top: 11px;
  color: #27346a;
  left: 80px;
  width: 200px;
  display: flex;
  justify-content: end;
}

.soy-un-footer {
  background-color: grey;
}

/*
/*MOBILE*/
@media (min-width: 0px) {
  .enlaces-izquierda {
    display: none;
  }

  .enlaces-derecha {
    display: none;
  }

  .barra-busqueda-header {
    display: none;
  }
}

/*tablets*/
@media (min-width: 768px) {
  .enlaces-izquierda {
    display: none;
  }

  .enlaces-derecha {
    display: none;
  }

  .barra-busqueda-header {
    display: none;
  }
}

/*desktop*/
@media (min-width: 1024px) {
  .menu-navegacion {
    display: flex;
  }

  .control-formulario-login {
    width: 35%; /* ADAPTACION DEL FORMULARIO A DESKTOP*/
  }

  .remenber {
    display: flex;
  }
  .checkremenber {
    margin-top: 15px;
  }
}
