* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  background: none;
  color: inherit;
  text-decoration: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
}

i {
  padding: 2px;
}

/* CONTENEDOR DEL HEADER*/

/* header */

.header {
  background-color: white;
  height: 50px;
  box-shadow: 0px 0px 3px rgb(100, 100, 100);
}

.header-menu {
  width: 45px;
  height: 50px;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  width: 45px;
  height: 50px;
  position: absolute;
  left: 45px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.header-nav-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 150px;
  width: 45px;
  height: 50px;
}

.header-nav-menu li {
  display: none;
}

.header-logo-img {
  height: 100%;
}

.header-search {
  display: block;
  position: absolute;
  right: 90px;
}

.header-search-bar {
  display: none;
}

.header-search-button {
  width: 45px;
  height: 50px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  height: 50px;
}

.header-nav-login {
  display: none;
}

.header-nav-user {
  display: none;
}

.header-nav-username {
  display: none;
}

.header-nav-shop {
  display: none;
}

.header-nav-cart {
  display: none;
}

/* MAIN*/

/* TEXTO EJS DE ERROR */

.text-danger {
  color: red;
  font-size: 12px;
  margin-left: 10px;
}

body {
  background-color: #2790c3;
}

/* CONTENEDOR DEL FORMULARIO*/
.white-form-box {
  width: 844px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

/*LOGO DE SUBIR IMAGEN*/

.photoUser {
  margin: 10px 0px 10px 45px;
}

.category-selection {
  margin: 10px 45px 10px 0px;
  border: grey solid 1px;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  width: 332px;
}

/* LOGO PAYCRIPT ENCIMA DEL FORMULARIO*/
.logo-register {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo-register img {
  width: 141px;
}

/* CONTROL DE TODOS LOS ELEMENTOS DEL FORMULARIO*/
.formulario-control {
  margin: 10px;
  padding: 10px;
  border: grey solid 1px;
  border-radius: 8px;
  width: 332px;
  height: 50px;
}

/* CONTROL DEL LABEL (COMPLETA TUS DATOS) */
.p-datos-registro {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/* CONTROL DE LA CHECK-BOX DEL FORMULARIO REGISTER*/
.check-box-condiciones {
  display: flex;
  justify-content: center;
  color: #27346a;
  font-size: 14px;
}

/* boton formulario CONTINUAR*/
.continue-button {
  background-color: #27346a;
  color: #ffff;
  border: #27346a solid 1px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 10px;
}

.terminos-y-continuar {
  display: flex;
  align-items: center;
}

/* SUBRAYADO DEL BOTON AL TENER EL MOUSE ENCIMA*/
.continue-button:hover {
  text-decoration: underline;
  background-color: #505C91;
  transition: all 1s ease-out;
}

/* boton formulario INICIAR SESION*/

.login-button {
  background-color: white;
  color: #27346a;
  border-radius: 5px;
  border: solid 1px #27346a;
  padding: 10px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* SUBRAYADO DEL BOTON AL TENER EL MOUSE ENCIMA*/

.login-button:hover {
  text-decoration: underline;
}


/* BOTON SUBIR IMAGEN  */
#image {
  display: none; /* Apago el diseño original */
}

input[type="”file”"]#image {
  /* CREO UN FRENTE SOBRE EL BOTON utlizo propiedad de los files */
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label[for="image"] {
  /*Decoro el nuevo frente */
  font-size: 14px;
  color: #27346a;
  background-color: #ffffff;
  border: 1px solid #27346a;
  display: block;
  /* transition: all 0.5s; transicion apagada */
  cursor: pointer;
  padding: 8px;
  text-align: center;
  border-radius: 5px;
  width: 210px;
  margin-left: 10px;
}

/*MOBILE*/
@media (max-width: 480px) {
  .white-form-box {
    width: 300px;
    display: flex;
    flex-direction: column;
  }

  .formulario-control {
    width: 250px;
    height: 50px;
  }

  .form {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .form div {
    align-items: center;
  }

  label[for="image"] {
    width: 250px;
  }

  .photoUser {
    max-width: 250px;
    margin-right: 65px;
  }

  .category-selection {
    font-size: 12px;
    width: 250px;
    margin-left: 45px;
    margin-bottom: 50px;
    margin-top: 10px;
  }

  .check-box-condiciones {
    font-size: 12px;
    text-align: center;
  }

}

/*tablets*/
@media (min-width: 481px) and (max-width: 1023px) {
  .white-form-box {
    width: 450px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
  
  .form {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .form div {
    align-items: center;
  }

  label[for="image"] {
    width: 332px;
    margin-right: 55px;
  }

  .category-selection {
    margin-left: 45px;
    margin-bottom: 50px;
    margin-top: 10px;
  }
}

/*desktop*/
@media (min-width: 1024px) {

  .formulario-control {
    width: 332px;
    height: 50px;
    max-width: 1000px;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .category-selection {
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .check-box-condiciones {
    margin-top: 10px;
  }
  
  label[for="image"] {
    width: 332px;
    margin-left: 0px;
  }

}
