* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  background: none;
  color: inherit;
  text-decoration: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
}

i {
  padding: 2px;
}

/* main */

body {
  background-color: #ffc439;
}

/* CONTENEDOR DEL FORMULARIO*/
.contenedor-formulario {
  margin: auto;
  padding: 10px;
  background-color: #ffff;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 465px;
}

.imagen-paycript-formulario {
  width: 141px;
}

/*  NOMBRE USUARIO A EDITAR   */

  .nombre-usuario-a-editar{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
  }

/* LOGO PAYCRIPT ENCIMA DEL FORMULARIO*/
.registro-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* CONTROL DE TODOS LOS ELEMENTOS DEL FORMULARIO*/
.formulario-control {
  margin: 10px;
  padding: 10px;
  border: grey solid 1px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

/* CONTROL DEL LABEL (Editar Perfil) */
.p-editar-perfil {
  font-size: 20px;
  /*margin-left: 21px; */
  text-align: center;
}

/* LABEL CAMBIAR DE CATEGORIA  */
.cambiar-categoria {
  text-align: center;
}

/* CONTROL DE LA CHECK-BOX DEL FORMULARIO EDICION DE PERFIL*/
.check-box-condiciones {
  display: flex;
  justify-content: center;
  color: #27346a;
}

/* boton formulario CONTINUAR*/
.boton-formulario-continuar {
  background-color: #27346a;
  color: #ffff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 14px;
}

.terminos-y-continuar {
  display: flex;
  align-items: center;
}

/* SUBRAYADO DEL BOTON AL TENER EL MOUSE ENCIMA*/
.boton-formulario-continuar:hover {
  text-decoration: underline;
}

/* boton formulario INICIAR SESION*/

.boton-formulario-iniciar-sesion {
  color: #27346a;
  margin: 10px;
}

/* SUBRAYADO DEL BOTON AL TENER EL MOUSE ENCIMA*/

.boton-formulario-iniciar-sesion:hover {
  text-decoration: underline;
}
/* SELECCIONA ARCHIVO CSS */

#image {
  display: none;
}

input[type="”file”"]#image {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label[for="image"] {
  font-size: 14px;
  color: #27346a;
  background-color: #ffffff;
  border: 1px solid #27346a;
  display: block;
  cursor: pointer;
  padding: 8px;
  text-align: center;
  border-radius: 5px;
  width: 210px;
  margin-left: 10px;
  margin: auto;
} 

/*MOBILE*/
@media (min-width: 0px) {
  .enlaces-izquierda {
    display: none;
  }

  .enlaces-derecha {
    display: none;
  }

  .barra-busqueda-header {
    display: none;
  }

  .contenedor-formulario {
    margin: auto;
    padding: 10px;
    background-color: #ffff;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 465px;
  }
  .formulario-control{
    margin: 10px;
    padding: 10px;
    border: grey solid 1px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 380px;
  }
}

/*tablets*/
@media (min-width: 768px) {
  /* Tablet: Header */

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-search {
    position: relative;
    left: 70px;
  }

  .header-search-bar {
    display: inline-block;
    background-color: #ebebeb;
    position: relative;
    bottom: 1px;
    min-width: 280px;
    max-width: 600px;
    height: 35px;
    border-radius: 3px 0px 0px 3px;
    font-size: 14px;
    padding-left: 20px;
    z-index: 2;
  }

  .header-search-button {
    display: inline-block;
    position: relative;
    top: 4px;
    right: 5px;
    background-color: #ebebeb;
    width: 45px;
    height: 35px;
    border-radius: 0px 3px 3px 0px;
    z-index: 1;
  }
  .formulario-control{
    margin: 10px;
    padding: 10px;
    border: grey solid 1px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 380px;
  }

  /* Tablet: Main */

  .enlaces-izquierda {
    display: none;
  }

  .enlaces-derecha {
    display: none;
  }

  .barra-busqueda-header {
    display: none;
  }

}

/*desktop*/
@media (min-width: 1024px) {
  /* Laptop: main */

  .contenedor-formulario {
    width: 630px;
    margin-top: 50px;
    /* height: 470px; */
  }

  .formulario-control {
    width: 500px;
    height: 50px;
}
  

  .formulario-flex {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* width: 821px; */
}
.boton-formulario-iniciar-sesion {
  position: relative;
  left: 556px;
}

.boton-formulario-continuar {
  width: 332px;
  margin: auto;
}

.nueva-foto-perfil{
  text-align: center;
  margin-top: 5px;
}

.cambiar-categoria{
  text-align: center;
  margin: 15px;
}

}



  

 

