* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  background: none;
  color: inherit;
  text-decoration: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
}

i {
  padding: 2px;
}

/* --------------HEADER--------------- */

.header {
  height: 50px;
  box-shadow: 0px 0px 3px rgb(100, 100, 100);
  background-color: #fff;
}

.header-menu {
  width: 45px;
  height: 50px;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  width: 45px;
  height: 50px;
  position: absolute;
  left: 45px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.header-nav-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 150px;
  width: 45px;
  height: 50px;
}

.header-nav-menu li {
  display: none;
}

.header-logo-img {
  height: 100%;
}

.header-search {
  display: block;
  position: absolute;
  right: 90px;
}

.header-search-bar {
  display: none;
}

.header-search-button {
  width: 45px;
  height: 50px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  height: 50px;
}

.header-nav-login {
  display: none;
}

.header-nav-user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
}

.header-nav-username {
  display: none;
}

.header-nav-shop {
  display: none;
}

.header-nav-cart {
  width: 45px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --------------MAIN--------------- */

body {
  background-color: #ffc439;
  margin-bottom: 100px;
}

/* CONTENEDOR DEL FORMULARIO*/
.white-form-box {
  width: 844px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.white-form-box form {
  align-items: center;
}

.white-form-box div {
  align-items: center;
}

.imagen-paycript-formulario {
  width: 141px;
}

.form-rigth {
  margin: 12px;
}

/* LOGO PAYCRIPT ENCIMA DEL FORMULARIO*/
.logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* TÍTULO DEL FORM */
.title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

/* CONTROL DE TODOS LOS ELEMENTOS DEL FORMULARIO*/
.formulario-control {
  width: 332px;
  height: 47px;
  margin: 10px;
  padding: 10px;
  border: grey solid 1px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.large-description {
  margin: 10px;
  padding: 10px;
  border: grey solid 1px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 210px;
  height: 100px;
}

/* BOTON CREADO DE PRODUCTO */
.create-button {
  width: 332px;
  background-color: #27346a;
  color: white;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 10px;
}

/* SUBRAYADO DEL BOTON AL TENER EL MOUSE ENCIMA*/
.create-button:hover {
  text-decoration: underline;
  background-color: #505C91;
  transition: all 1s ease-out;
}

/* DISEÑO DEL BOTON DE SUBIR IMAGEN */
#photoProduct {
  display: none; /*Apago el diseño original*/
}

input[type="”file”"]#photoProduct {
  /*CREO UN FRENTE SOBRE EL BOTON utlizo propiedad de los files*/
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label[for="photoProduct"] {
  /*Decoro el nuevo frente*/
  font-size: 14px;
  color: #27346a;
  background-color: #ffffff;
  border: 1px solid #27346a;
  display: block;
  /* transition: all 0.5s; transicion apagada */
  cursor: pointer;
  padding: 8px;
  text-align: center;
  border-radius: 5px;
  width: 250px;
}

.photo-product {
  margin-left: 10px;
  max-width: 220px;
}

.terminos-y-continuar {
  display: flex;
  align-items: center;
}

.radio-left p {
  margin-bottom: 10px;
}

.radio-rigth p {
  margin-bottom: 10px;
}

.checkboxes div {
  margin-bottom: 10px;
}

/*MOBILE*/
@media (max-width: 480px) {
  /* MOBILE HEADER */
  .enlaces-izquierda {
    display: none;
  }

  .enlaces-derecha {
    display: none;
  }

  .barra-busqueda-header {
    display: none;
  }

  /* TABLET FORMULARIO */

  .white-form-box {
    width: 300px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }

  .white-form-box .form-left {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .white-form-box .form-rigth {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .form { 
    display: flex;
    flex-direction: column;
  }
  
  .create-button {
    align-items: center;
    width: 250px;
  }


  .formulario-control {
    margin-top: 20px;
    width: 250px;
  }

  .fa-upload {
    margin: 0 5px;
  }

  .category-product {
    margin: 10px 0px;
    display: flex;
  }

  .radio-left p {
    margin-right: 20px;
  }

  .checkboxes {
    display: flex;
  }

  .checkboxes div {
    margin-right: 10px;
  }

  label[for="photoProducts"] {
    width: 332px;
  }

  .large-description {
    width: 250px;
  }
}

@media (min-width: 481px) and (max-width: 1023px) {
  /* TABLET HEADER */
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-search {
    position: relative;
    left: 70px;
  }

  .header-search-bar {
    display: inline-block;
    background-color: #ebebeb;
    position: relative;
    bottom: 1px;
    min-width: 280px;
    max-width: 600px;
    height: 35px;
    border-radius: 3px 0px 0px 3px;
    font-size: 14px;
    padding-left: 20px;
    z-index: 2;
  }

  .header-search-button {
    display: inline-block;
    position: relative;
    top: 4px;
    right: 5px;
    background-color: #ebebeb;
    width: 45px;
    height: 35px;
    border-radius: 0px 3px 3px 0px;
    z-index: 1;
  }

  /* TABLET FORMULARIO */

  .white-form-box {
    width: 460px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }

  .white-form-box .form-left {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .white-form-box .form-rigth {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .form { 
    display: flex;
    flex-direction: column;
  }

  .create-button {
    align-items: center;
  }


  .formulario-control {
    margin-top: 20px;
  }

  .fa-upload {
    margin: 0 5px;
  }

  .category-product {
    margin: 10px 0px;
    display: flex;
  }

  .radio-left p {
    margin-right: 20px;
  }

  .checkboxes {
    display: flex;
  }

  .checkboxes div {
    margin-right: 10px;
  }

  label[for="photoProduct"] {
    width: 332px;
  }

  .large-description {
    width: 332px;
  }

}

@media (min-width: 1024px) {

  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .formulario-control {
    margin-top: 20px;
  }

  .fa-upload {
    margin: 0 5px;
  }

  .category-product {
    margin: 10px 0px;
    display: flex;
  }

  .radio-left p {
    margin-right: 20px;
  }

  .checkboxes {
    display: flex;
  }

  .checkboxes div {
    margin-right: 10px;
  }

  label[for="photoProducts"] {
    width: 332px;
  }

  .large-description {
    width: 332px;
  }
}
