* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

/*----------EL ESTILO DEL INDEX----------------------------------------------*/

/* main */

.text-carrito {
  margin: 0;
  background-color: #2790c3;
  height: 50px;
  color: white;
  font-size: 18px;
  padding: 5px 20px;
}

main {
  margin: -15px;
  border-radius: 30px;
  background-color: white;
}

.img-product {
  width: 20%;
  margin: 10px;
  margin: 5px 25px;
}

.fa-minus-circle {
  /* - */

  color: #ffc439; /*color*/
  margin: 0 20px 0 0; /*espacio a la derecha*/
}

.fa-plus-circle {
  /* + */
  color: #ffc439; /*color*/
  margin: 0 0 0 20px; /*espacio a la izquierda*/
}

.fa-trash {
  /* tarro de basura */
  color: #ffc439;
  margin-right: 42px; /*color*/
}

.nombre,
.valor,
.total {
  font-weight: bold;
}
.uso,
.p2p {
  font-size: 12px;
}

.valor-btc {
  font-size: 12px;
}
.precio-btc,
.precio-eth {
  font-size: 9px;
}

.precio {
  text-align: right;
}
.precio img {
  width: 19%;
  margin: 0 40px 0 5px;
}

.precio-logo {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.producto1encarrito,
.producto2encarrito {
  display: flex;
  border-bottom: solid dimgrey 0.5px;
  justify-content: space-around;
  align-items: center;
}

.descripcion-product {
  /**/
  margin: 0 10px;
  width: 100%; /**/
}

/*parte de precio debajo*/

.total-compra {
  display: flex;
  justify-content: space-between;
  margin: 101px 50px 0px 50px;
}

.valor-usdt {
  display: flex;
}
.usdt {
  width: 20px;
}

.valor-btc,
.valor-eth {
  width: 19%;
  display: flex;
  justify-content: space-between;
}

.finalizar-pedido {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  background-color: #27346a;
  color: white;
  font-size: 14px;
  height: 30px;
  border-radius: 5px;
}

.seguir-comprando {
  color: #2790c3;
  text-align: center;
  font-size: 14px;
}

@media (min-width: 768px) {
  main {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
    border-radius: 10px;
  }

  .producto2encarrito {
    border: none;
  }

  .productoencarrito {
    width: 50%;
    height: auto;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    align-items: center;
  }
  .destopk {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .total-compra {
    margin: 40px 70px 10px 50px;
  }

  .finalizar-pedido {
    margin: 20px 20px 5px;
  }

  .precios {
    margin: 0 0 0 50px;
  }
}
