* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  background: none;
  color: inherit;
  text-decoration: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
}

i {
  padding: 2px;
}

/* header */

.header {
  height: 50px;
  box-shadow: 0px 0px 3px rgb(100, 100, 100);
  background-color: #ffffff;
}

.header-menu {
  width: 45px;
  height: 50px;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  width: 45px;
  height: 50px;
  position: absolute;
  left: 45px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.header-nav-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 150px;
  width: 45px;
  height: 50px;
}

.header-nav-menu li {
  display: none;
}

.header-logo-img {
  height: 100%;
}

.header-search {
  display: none;
  position: absolute;
  right: 45px;
}

.header-search-bar {
  display: none;
}

.header-search-button {
  width: 45px;
  height: 50px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  height: 50px;
}

.header-nav-login {
  display: none;
}

.header-nav-shopping {
  display: none;
}

.header-nav a {
  margin: 0px 15px 0px 15px;
}

.header-nav-cart {
  width: 45px;
  height: 50px;
  display: none;
  align-items: center;
  justify-content: center;
}
* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  background: none;
  color: inherit;
  text-decoration: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
}

i {
  padding: 2px;
}

/* CONTENEDOR DEL HEADER*/
.contenedor {
  display: flex;
  width: 100%;
  background-color: #ffff;
  box-shadow: 2px 5px 13px -3px rgba(0, 0, 0, 0.75);
  justify-content: space-between;
  height: 80px;
}

/* CONTENEDOR DEL HEADER*/
.menu-navegacion {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.logo-header {
  display: flex;
  margin-left: 45px;
}

/* LOGO IMAGEN*/
.logo img {
  display: flex;
}

/*AMBOS ENLACES IZQUIERDA (HEADER)*/
.enlaces-izquierda {
  display: flex;
  margin: auto;
}

/* RELLENO A LOS DIFERENTES ELEMENTOS DEL HEADER*/
li {
  margin-left: 15px;
}

/* BARRA BUSQUEDA HEADER*/
.barra-busqueda-header {
  display: flex;
  margin: auto;
  height: 25px;
  border: solid 1px #ebebeb;
  border-radius: 8px;
}

/*AMBOS ENLACES DERECHA (HEADER)*/
.enlaces-derecha {
  display: flex;
  margin: auto;
}

body {
  background-color: #ffc439;
  margin-bottom: 100px;
}

/* CONTENEDOR DEL FORMULARIO*/
.contenedor-formulario {
  width: 35%;
  margin: auto;
  padding: 10px;
  background-color: #ffff;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: solid salmon dashed;
}

.imagen-paycript-formulario {
  width: 141px;
}

.form-rigth {
  margin: 12px;
}

/* LOGO PAYCRIPT ENCIMA DEL FORMULARIO*/
.registro-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* CONTROL DE TODOS LOS ELEMENTOS DEL FORMULARIO*/
.formulario-control {
  margin: 10px;
  padding: 10px;
  border: grey solid 1px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.large-description {
  margin: 10px;
  padding: 10px;
  border: grey solid 1px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 210px;
  height: 100px;
}

/* CONTROL DEL LABEL (COMPLETA TUS DATOS) */
.p-datos-registro {
  font-size: 20px;
  margin-left: 56px;
}

/* CONTROL DE LA CHECK-BOX DEL FORMULARIO REGISTER*/
.check-box-condiciones {
  display: flex;
  justify-content: center;
  color: #27346a;
}

/* boton formulario CONTINUAR*/
.boton-formulario-continuar {
  background-color: #27346a;
  color: #ffff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-top: 14px;
}

/* AGREGO MARCOS*/

#photoProducts {
  display: none; /*Apago el diseño original*/
}

input[type="”file”"]#photoProducts {
  /*CREO UN FRENTE SOBRE EL BOTON utlizo propiedad de los files*/
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label[for="photoProducts"] {
  /*Decoro el nuevo frente*/
  font-size: 14px;
  color: #27346a;
  background-color: #ffffff;
  border: 1px solid #27346a;
  display: block;
  /*transition: all 0.5s; transicion apagada*/ 
  cursor: pointer;
  padding: 8px;
  text-align: center;
  border-radius: 5px;
  width: 210px;
  margin-left: 10px;
}

/*agrego marcos*/
.photo-product {
  margin-left: 10px;
  max-width: 220px;
}

.terminos-y-continuar {
  display: flex;
  align-items: center;
}

.radio-left p {
  margin-bottom: 10px;
}

.radio-rigth p {
  margin-bottom: 10px;
}

.checkboxes div {
  margin-bottom: 10px;
}

/* SUBRAYADO DEL BOTON AL TENER EL MOUSE ENCIMA*/
.boton-formulario-continuar:hover {
  text-decoration: underline;
}

/* boton formulario INICIAR SESION*/

.boton-formulario-iniciar-sesion {
  color: #27346a;
  margin: 10px;
}

/* SUBRAYADO DEL BOTON AL TENER EL MOUSE ENCIMA*/

.boton-formulario-iniciar-sesion:hover {
  text-decoration: underline;
}
.category-product {
  margin: 10px 0px;
}

/*MOBILE*/
@media (min-width: 0px) {
  .enlaces-izquierda {
    display: none;
  }

  .enlaces-derecha {
    display: none;
  }

  .barra-busqueda-header {
    display: none;
  }

  .contenedor-formulario {
    margin: auto;
    padding: 10px;
    background-color: #ffff;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: solid salmon dashed;
    width: 263px;
  }
}

/*tablets
@media (min-width: 768px){
  
  .enlaces-izquierda{
      display: none;
  }
  
  .enlaces-derecha{
      display: none;
  }

  .barra-busqueda-header{
      display: none;
  }
} 
*/

/*desktop - se usa 768 para evitar saltos en el formulario*/
@media (min-width: 828px) {
  .contenedor-formulario {
    width: 844px;
    height: 550px;
  }

  .formulario-control {
    width: 332px;
    height: 47px;
  }

  .formulario-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .boton-formulario-iniciar-sesion {
    position: relative;
    left: 556px;
  }

  .boton-formulario-continuar {
    width: 332px;
  }

  /*agrego marcos*/
  .formulario-control {
    margin-bottom: 20px;
  }

  /*espacio al logo*/
  .fa-upload {
    margin: 0 5px;
  }

  /*checbox*/
  .category-product {
    margin: 20px 0;
    display: flex;
  }

  .radio-left p {
    margin-bottom: 10px;
    margin-right: 20px;
  }

  .radio-rigth p {
    margin-bottom: 10px;
  }
  .checkboxes {
    display: flex;
  }

  .checkboxes div {
    margin-right: 10px;
  }

  

  label[for="photoProducts"] {
    width: 332px;
  }
  
  .large-description {
    width: 332px;
  }

}
