* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  background: none;
  color: inherit;
  text-decoration: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
}

i {
  padding: 2px;
}

button {
  cursor: pointer;
}

/* Header */

.header-nav-menu li,
.header-search,
.header-search-bar,
.header-nav-login,
.header-nav-user,
.header-nav-username,
.header-nav-shop,
.header-nav-cart {
  display: none;
}

/* Main*/

/* TEXTO EJS DE ERROR */

.text-danger {
  color: red;
  font-size: 12px;
  margin-left: 10px;
}

body {
  background-color: #ffc439;
}

main {
  display: flex;
  justify-content: center;
}

/* Form */
.form-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: auto;
  margin: 30px 20px;
  padding: 10px 20px 20px 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 728px;
}

/* PayCrypt logo */
.logo-register {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo-register img {
  width: 130px;
}

/* Completá tus datos */
h1 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin: 5px 0;
}

h2 {
  font-size: 15px;
  font-weight: 300;
  color: #27346a;
  margin: 15px 0 0 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Form inputs */
.form div {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form div input {
  background: #fff;
  outline: none;
  margin: 10px 0 5px 0;
  padding: 10px;
  border: solid 1px #e6e6e6;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  max-width: 686px;
  height: 48px;
}

.form div input:focus {
  border: solid 2px #2790c3;
}

/* Button - upload image  */
.form-button-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #27346a;
  border-radius: 5px;
  font-size: 14px;
  color: #27346a;
  width: 100%;
  height: 48px;
  cursor: pointer;
}

.form-button-image:hover {
  background-color: #2790c3;
  border: none;
  color: #fff;
  transition: all 300ms ease-out;
}

.form-button-image:active {
  background-color: #fff;
  border: solid 1px #27346a;
  color: #27346a;
  transition: all 300ms ease-out;
}

.form-button-image-text {
  cursor: pointer;
}

.form-button-image input {
  display: none;
}

/* Terms and conditions */
.form-button {
  display: flex;
  flex-direction: column;
}

.form-button-checkbox {
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: #27346a;
}

#form-button-checkbox-input {
  margin: 10px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

/* Button - done */
.form-button-disable {
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0,.1);
  color: rgba(0,0,0,.25);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: 15px 0 10px 0;
  max-width: 270px;
  height: 48px;
  cursor: pointer;
}

.form-button-done {
  display: flex;
  align-items: center;
  background-color: #27346a;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: 15px 0 10px 0;
  max-width: 270px;
  height: 48px;
  cursor: pointer;
}

.form-button-done:hover {
  background-color: #2790c3;
  transition: all 300ms ease-out;
}

.form-button-done:active {
  background-color: #27346a;
  transition: all 300ms ease-out;
}

/* Button - login */
.form-button-login {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: solid 1px #27346a;
  border-radius: 5px;
  color: #27346a;
  padding: 10px;
  max-width: 270px;
  height: 48px;
  cursor: pointer;
}

.form-button-login:hover {
  background-color: #2790c3;
  border: none;
  color: #fff;
  transition: all 300ms ease-out;
}

.form-button-login:active {
  background-color: #fff;
  border: solid 1px #27346a;
  color: #27346a;
  transition: all 300ms ease-out;
}

/*tablets*/
@media (min-width: 768px) {


}

/*desktop*/
@media (min-width: 1024px) {
  .header-menu {
    display: none;
  }
}
