<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head.ejs', {titulo: 'Inicio de Sesión', cssSheets:
  'styles_login'}) %>

  <body>
    <%- include ('../partials/header.ejs') %>
    <main>
      <form class="control-formulario-login" action="/user/login" method="post">
        <div class="formulario-flex-login">
          <div>
            <img class="img-formulario-login" src="/images/paycrypt-logo.svg" />
          </div>

          <div class="p-datos-login">
            <p class="titulo-formulario-login">¡Hola! Ingresa tus datos</p>
          </div>

          <div class="inputs-en-login">
            <label for="email"></label>
            <input
              class="formulario-control"
              type="email"
              name="email"
              id="email"
              placeholder="E-mail"
            />
          </div>

          <div class="inputs-en-login">
            <label for="password"></label>
            <input
              class="formulario-control"
              type="password"
              name="password"
              id="password"
              placeholder="Contraseña"
            />
          </div>
        <div class="remenber">
          <div class=checkremenber>
            <input type="checkbox" name="remenberuser" value="on" id="remenberuser">
            <label for="Bitcoin">Recordarme</label>
          </div>

          <div class="olvidaste-tu-contraseña">
            <p><a href="#">¿Olvidaste tu contraseña?</a></p>
          </div>

        </div>

          <div class="boton-formulario-continuar">
            <button type="submit">Continuar</button>
          </div>
          <div class="boton-formulario-crear-cuenta">
            <a role="button" href="/user/register"
              ><button type="button">Crear Cuenta</button></a
            >
          </div>
        </div>
      </form>
    </main>
  </body>
</html>
