<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head.ejs', {titulo: 'Detalles', cssSheets:
  'styles_profile'}) %>
  <body>
    <!-- Header -->
    <%- include('../partials/header.ejs'); %>

    <!-- Main -->
    <main class="main">
      <section class="main-section">
        <article class="main-section-article">
          <div class="main-section-article-profile">
            <img
              class="main-section-article-profile-img"
              src="/images/users/<%= user.image %>"
            />
          </div>
          <div class="main-section-article-email"><%= user.email %></div>
        </article>
        <article class="main-section-article-2">
          <ul class="main-section-article-2-ul">
            <li class="main-section-article-2-ul-li">
              <div class="main-section-article-2-ul-li-icon">
                <span class="material-icons"> manage_accounts </span>
              </div>
              <a href="/user/edit">Editar perfil</a>
            </li>
            <li class="main-section-article-2-ul-li-delete">
              <div class="main-section-article-2-ul-li-icon">
                <span class="material-icons"> person_remove </span>
              </div>
              <a role="button" href="/user/delete"
                ><button type="button">Borrar usuario</button></a
              >
            </li>
            <li class="main-section-article-2-ul-li">
              <div class="main-section-article-2-ul-li-icon">
                <span class="material-icons"> logout </span>
              </div>
              <a href="/user/logout">Logout</a>
            </li>
          </ul>
        </article>
      </section>
    </main>
  </body>
</html>
