<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head.ejs', {titulo: 'Carrito', cssSheets: 'styles_cart'}) %>

    <body>
    <%- include ('../partials/header.ejs') %> 
        <div class="text-carrito">Carrito(2)</div>
        <main>
            <div class="productoencarrito">
            <div class="producto1encarrito">
                <img src="/images/products/zapatilla.jpg" alt="producto" class="img-product">
                
                <div class="descripcion-product">
                    <div class="nombre"> Zapatilla Nike </div>
                    <div class="uso"> Nuevo </div>
                    <div class="cantidad"><i class="fas fa-minus-circle"></i>1<i class="fas fa-plus-circle"></i> </div>   
                </div>
                
                <div class= "precio"> 
                    <i class="fas fa-trash"></i>
                    <div class="valor"> 50 <img src="/images/usdt-logo.svg" alt="precio"> </div>
                </div>

            </div>
            

            <div class="producto2encarrito">
                <img src="/images/products/notebook.jpg" alt="producto" class="img-product">
            
                <div class="descripcion-product">
                    <p class="nombre">Notebokk Dell</p>
                    <p class="uso">Intel core i7, 8gb de ram, SSD 256</p>
                    <p class="cantidad"><i class="fas fa-minus-circle"></i></i>1<i class="fas fa-plus-circle"></i> </p>   
                </div>
                
                <div class= "precio"> 
                    <i class="fas fa-trash"></i>
                    <div class="valor">1000<img src="/images/usdt-logo.svg" alt="usdt"></div>
                </div>
            </div>
        </div>

        <div class="carritoencarrito">
                <div class="total-compra">
                    <div class="texto">
                        <div class="total">Total</div>
                        <div class="p2p">P2P</div>
                    </div>
                    <div class="precios">
                        <div class="valor-usdt">
                            <span class="valor">1.050 <img class="usdt" src="/images/usdt-logo.svg" alt="usdt"> </span>
                        </div>

                        <div class="valor-btc">
                          <span class="precio-btc">0.0223335 <img src="/images/btc-logo.svg" alt="btc"> </span>
                        </div>

                     <div class="valor-eth">
                        <span class="precio-eth">0.0223335 <img src="/images/eth-logo.svg" alt="eth"> </span>
                     </div>
                    </div>
                </div>
       
            <button class="finalizar-pedido" type="submit"> Finalizar pedido </button>

            <button class="seguir-comprando" type="submit"> Seguir comprando </button>

        </div>
        </main>
   </body>
</html>