<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head.ejs', {titulo: 'Creación de Producto' , cssSheets: 'styles_create_products' }) %>

    <body>
        <%- include ('../partials/header.ejs') %>
        <div class="white-form-box">
                <!-- CLASE QUE CONTIENE A TODO EL FORMULARIO-->
            <div class="logo">
                <img class="imagen-paycript-formulario" src="/images/paycrypt-logo.svg" alt="">
            </div>

            <div class="title">
                <p>Creá tu producto</p>
            </div>

            <!-- CAJA FLEX DEL  FORMULARIO-->
            <form class="form" action="/product" method="POST" enctype="multipart/form-data">

                <div class="form-left">
                    <div>
                        <label for="name"></label>
                        <input class="formulario-control" type="text" name="name" id="nombre" placeholder="Nombre del producto">
                        <!--NOMBRE DEL PRODUCTO-->
                    </div>

                    <div>
                        <label for="shortDescription"></label>
                        <input class="formulario-control" type="text" name="shortDescription" id="shortDescription" placeholder="Descripción corta del producto">
                        <!-- DESCRIPCION CORTA DEL PRODUCTO-->
                    </div>


                    <div>
                        <label for="price"></label>
                        <input class="formulario-control" type="text" name="price" id="price" placeholder="Precio">
                        <!--PRECIO PRODUCTO-->
                    </div>

                    <div>
                        <label for="description"></label>
                        <textarea class="large-description" name="description" placeholder="Ingrese una descripción detallada del producto"></textarea>
                        <!-- DESCRIPCION LARGA DEL PRODUCTO-->
                    </div>

                    <div>
                        <label for="location"></label>
                        <input class="formulario-control" type="text" name="location" id="location" placeholder="Ubicación del producto">
                    </div>

                </div>

                <div class="form-rigth">

                    <label for="category">Seleccione una categoría:</label>
                    <div class="category-product">
                        <!-- CATEGORIA PRODUCTOS -->

                        <div class="radio-left">
                            <p><input type="radio" name="category" value= "6" /> Vehículos</p>
                            <p><input type="radio" name="category" value= "2" /> Inmuebles</p>
                            <p><input type="radio" name="category" value= "5" /> Tecnología</p>
                        </div>
                        <div class="radio-rigth">
                            <p><input type="radio" name="category" value= "1" /> Deportes</p>
                            <p><input type="radio" name="category" value= "4" /> NFT</p>
                            <p><input type="radio" name="category" value= "3" /> Minería</p>
                        </div>
                    </div>

                    <p>Elija su moneda de pago:</p></br>
                    <div class="checkboxes">
                        <div>
                            <input type="checkbox" name="coin" value= "1" id="Bitcoin">
                            <label for="Bitcoin">Bitcoin</label>
                        </div>
                        <div>
                            <input type="checkbox" name="coin" value= "2" id="Ethereum">
                            <label for="Ethereum">Ethereum</label>
                        </div>
                        <div>
                            <input type="checkbox" name="coin" value= "3" id="USDT">
                            <label for="USDT">USDT</label>
                        </div>
                    </div>

                    <div class="photoProduct">
                        <label for="photoProduct">
                            <div class="img-up"><i class="fas fa-upload"></i> Subir Imagen</div>
                        </label> <!-- IMAGEN DEL PRODUCTO-->
                        <input type="file" name="image" id="photoProduct" required="" accept=".jpg">
                    </div>

                </div>

                <div class="create-button">
                    <button type="submit">Crear producto</button>
                </div>
            </form>
        </div>
    </body>
</html>