<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head.ejs', {titulo: 'Registro', cssSheets: 'styles_register'}) %>

    <body>

    <%- include ('../partials/header.ejs') %> 

    <div class="contenedor-formulario">    <!-- CLASE QUE CONTIENE A TODO EL FORMULARIO-->
        <div class="registro-logo">
            <img class="imagen-paycript-formulario" src="/images/paycrypt-logo.svg" alt="">
        </div>
    
        <div>
            <p class="p-datos-registro">Completa tus datos</p>
        </div>
        </br> 

              <!-- CAJA FLEX DEL  FORMULARIO-->
            <form class="prueba-formulario" action="" method="POST">
                <div class="formulario-flex">
                
                <div>
                    <label for="nombre"></label>
                    <input class="formulario-control" type="text" name="nombre" id="nombre" placeholder="Nombre">   <!--NOMBRE USUARIO-->
                </div>

                <div>
                    <label for="apellido"></label>
                    <input class="formulario-control" type="text" name="apellido" id="apellido" placeholder="Apellido">  <!-- APELLIDO-->
                </div>
                
                <div>
                    <label for="dni"></label>
                    <input class="formulario-control" type="number" name="dni" id="dni" placeholder="DNI">                 <!-- NUMERO DE DOCUMENTO (DNI)-->
                </div>
                
                <div>
                    <label for="email"></label>
                    <input class="formulario-control" type="email" name="email" id="email" placeholder="E-mail">   <!-- CORREO ELECTRONICO-->
                </div>

                <div>
                    <label for="password"></label>
                    <input class="formulario-control" type="password" name="password" id="password" placeholder="Contraseña">  <!-- CONTRASEÑA-->
                </div>
                <div>
                    <label for="password"></label>
                    <input class="formulario-control" type="password" name="password" id="password" placeholder="Confirmar Contraseña">  <!-- CONTRASEÑA-->
                </div>
                <div class="check-box-condiciones">
                    <label for="terminos">
                       <input type="checkbox" name="terminos" id="terminos"> He leido y acepto los términos y condiciones.</label> <!-- CAJA  TERMINOS Y CONDICIONES-->
                </div>

                <div class="boton-formulario-continuar" >
                    
                    <button type="submit">Continuar</button>
                </div>
            
            </div>  
                <span class="boton-formulario-iniciar-sesion">
                    
                    <a role="button" href="/login"><button type="button">Iniciar sesión</button></a>
                </span>
            </form>
        </div>
    
    
    
</body>
</html>