<!DOCTYPE html>

<link rel="stylesheet" href="/css/nosotros.css">

<html lang="en">
  <!-----------------HEAD - ACÁ LINKEO ENLACES EXTERNOS------------------------->
  
  <%- include ('../partials/head.ejs', {titulo: 'PayCrypt', cssSheets: 'styles_index'}) %>

  <body>

    <%- include ('../partials/header.ejs') %> 

    <!-----------------ACÁ VA A PARTIR DEL BANNER E-COMMERCE------------------------->
    <main>
   
 
   <div class="banner" >
        <div class= "video" >
             <iframe  width="560" height="315" src="/images/logopaycript.mp4"  frameborder="0" controls></iframe>
        </div>
        <div class="texto">
          <h2>¿Que es lo que hacemos?</h2>
            <p> PayCrypt une dos conceptos que en los ultimos años han tomado relevancia. Como primer concepto, tenemos "Ecommerce" y como segundo tenemos 
                las "Crypto Monedas". Como resultado, obtenemos una tienda con vista al futuro del comercio electronico, ofreciendo a sus clientes
                una oferta con posibilidades de comercializar sus productos con opciones de pagos electronicos descentralizados. 
            </p>
        </div> 
        
    </div>

    </section>

    </main>
    <!------ACÁ TERMINA EL MAIN------------------------------------------------------>
    <%- include ('../partials/footer.ejs') %> 
  </body>
</html>
