<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/styles_cars.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8d25ae4c89.js" crossorigin="anonymous"></script>

</head>


<body>
            <!--cabecera de la pagina-->
    <header>

         <div class ="menu-carrito">
            
            <div class="menu-left">

                <!--Menu hambur-->
                <i class="fas fa-bars"></i>
                <!--Logo-->
                <img src="/images/paycrypt-logo.svg" class="logo">

            </div>

            <div class ="menu-rigth">
            
                <!--Lupa-->
                <i class="fas fa-search"></i>
                <!--carrito-->
                <i class="fas fa-shopping-cart"></i>
            </div>


        </div>


    </header>



    <p class="text-carrito" >Carrito(2)</p>

    <main>
               
        <div class="productoencarrito">
            

            <div class="producto1encarrito">
                <img src="/images/zapatilla.jpg" alt="producto" class="img-product">
                
                <div class="descripcion-product">
                    <p class="nombre">Zapatilla Nike</p>
                    <p class="uso">Nuevo</p>
                    <p class="cantidad"><i class="fas fa-minus-circle"></i></i>1<i class="fas fa-plus-circle"></i> </p>   
                </div>
                
                <div class= "precio"> 
                    <i class="fas fa-trash"></i>
                    <div class="precio-logo">
                        <p class="valor">50</p><span><img src="/images/usdt-logo.svg" alt="precio"></span>
                    </div>
                </div>

              </div>
            

            <div class="producto2encarrito">
                <img src="/images/notebook.jpg" alt="producto" class="img-product">
            
                <div class="descripcion-product">
                    <p class="nombre">Notebokk Dell</p>
                    <p class="uso">Intel core i7, 8gb de ram...</p>
                    <p class="cantidad"><i class="fas fa-minus-circle"></i></i>1<i class="fas fa-plus-circle"></i> </p>   
                </div>
                
                <div class= "precio"> 
                    <i class="fas fa-trash"></i>
                    <div class="precio-logo">
                        <p class="valor">1000</p><img src="/images/usdt-logo.svg" alt="usdt">
                    </div>
                </div>

              </div>
            </div>

        </div>




        </div>
        
      <div class="destopk">
        <div class="total-compra">

            <div class="texto">
                <p class="total">Total</p>
                <p class="p2p">P2P</p>
            </div>

            <div clase="precios">
                <div class="valor-usdt">
                    <p class="valor">1.050</p>
                   <img class="usdt" src="/images/usdt-logo.svg" alt="usdt">
                </div>

                <div class="valor-btc">
                    <p class="precio-btc">0.0223335</p>
                    <img src="/images/btc-logo.svg" alt="btc">
                </div>

                <div class="valor-eth">
                    <p class="precio-eth">0.0223335</p>
                    <img src="/images/eth-logo.svg" alt="eth">
                </div>

            </div>


        </div>
       
        <div class="finalizar-pedido">
            <p>Finalizar pedido</p>
        </div>

        <div class="seguir-comprando">
            <p>Seguir comprando</p>
        </div>
      </div>



    </main>

   
   
   
   
    <footer>

         


    </footer>











</body>
</html>