<!DOCTYPE html>
<html lang="en">

    <%- include ('../partials/head.ejs', {titulo: 'Creación de Producto', cssSheets: 'styles_create_products'}) %>

<body>

    <%- include ('../partials/header.ejs') %> 

    <div class="contenedor-formulario">
        <!-- CLASE QUE CONTIENE A TODO EL FORMULARIO-->
        <div class="registro-logo">
            <img class="imagen-paycript-formulario" src="/images/paycrypt-logo.svg" alt="">
        </div>

        <div class="p-datos-registro">
            <p>Crea tu producto</p>
        </div>
        </br>

        <!-- CAJA FLEX DEL  FORMULARIO-->
        <form class="prueba-formulario" action="/products/" method="POST">
            <div class="formulario-flex">

                <div class="form-left">

                    <div>
                        <label for="name"></label>
                        <input class="formulario-control" type="text" name="name" id="nombre"
                            placeholder="Nombre Producto">
                        <!--NOMBRE DEL PRODUCTO-->
                    </div>
                    
                    <div>
                        <input class="formulario-control" type="text" name="price-product" id="price-product"
                            placeholder="Precio">
                        <!--PRECIO PRODUCTO-->
                    </div>
                    
                    <div>
                        <label for="descripcion"></label>
                        <input class="formulario-control" type="text" name="descripcion" id="descripcion"
                            placeholder="Descripcion"> <!-- DESCRIPCION DEL PRODUCTO-->
                    </div>


                    <div class="photo-product">
                        <label for="photo-product">
                            <div class="img-up"><i class="fas fa-upload"></i> Subir Imagen</div>
                        </label> <!-- IMAGEN DEL PRODUCTO-->
                        <input type="file" name="photo-product" id="photo-product" required="" accept=".jpg">
                    </div>

                    

                </div>

                <div class="form-rigth">
                    <label for="category">Seleccione una categoria:</label>
                    <div class="category-product"> <!-- CATEGORIA PRODUCTOS -->
                        
                     <div class="radio-left">
                        <p><input type="radio" name="category" value="Vehiculos" />   Vehiculos</p>
                        <p><input type="radio" name="category" value="Inmuebles" />   Inmuebles</p>
                        <p><input type="radio" name="category" value="Tecnologia" />   Tecnologia</p>
                     </div>  
                     <div class="radio-rigth">
                        <p><input type="radio" name="category" value="Deportes" />   Deportes</p>
                        <p><input type="radio" name="category" value="NFT" />   NFT</p>
                        <p><input type="radio" name="category" value="Mineria" />   Mineria</p>
                     </div>
                    </div>

                    <p>Elija su moneda de pago:</p></br>
                    <div class="checkboxes">
                        <div>
                            <input type="checkbox" name="coin" value="Bitcoin" id="Bitcoin">
                            <label for="Bitcoin">Bitcoin</label>
                        </div>
                        <div>
                            <input type="checkbox" name="coin" value="Ethereum" id="Ethereum">
                            <label for="Ethereum">Ethereum</label>
                        </div>
                        <div>
                            <input type="checkbox" name="coin" value="USDT" id="USDT">
                            <label for="USDT">USDT</label>
                        </div>
                    </div>
                  

                    <div class="boton-formulario-continuar">
                        <button type="submit">Crear producto</button>
                    </div>

                </div>


            </div>
        </form>
    </div>



</body>

</html>