<!DOCTYPE html>
<html lang="es-AR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Volkswagen Golf 0km, DSG 1.4t año 2021 | PayCrypt</title>
    <link rel="stylesheet" href="/css/styles_product_detail.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/57b4c81031.js" crossorigin="anonymous"></script>
  </head>
  
  <body>
    <!-- Header: menu, logo, search, nav -->
    <header class="header">
      <!-- Menu -->
      <div class="header-menu">
        <span class="material-icons"> menu </span>
      </div>
      <!-- Logo -->
      <div class="header-logo">
        <img class="header-logo-img" src="/images/paycrypt-logo.svg" />
      </div>
      <ul class="header-nav-menu">
        <li> Productos <span class="material-icons"> arrow_drop_down </span></li>
        <li> Cotizaciones <span class="material-icons"> arrow_drop_down </span></li>
      </ul>
      <!-- Search -->
      <form class="header-search">
        <input type="text" class="header-search-bar" placeholder="Buscá productos, marcas y más..." maxlength="120">
        <button type="submit" class="header-search-button"><span class="material-icons"> search </span></button>
      </form>
      <nav class="header-nav">
        <!-- Log In -->
        <a class="header-nav-login">Ingresá</a>
        <!-- Shopping -->
        <a class="header-nav-shopping">Mis compras</a>
        <!-- Cart -->
        <a href="/cart" class="header-nav-cart">
          <span class="material-icons"> shopping_cart </span>
        </a>
      </nav>
    </header>
    <!-- Main: 2 sections, 3 articles -->
    <main class="main">
      <!-- Section 1: image -->
      <section class="main-section">
        <img class="main-section-img" src="/images/auto.jpg" />
      </section>
      <!-- Section 2: 3 articles - name, description, pay details - button add to cart -->
      <section class="main-section-2">
        <!-- Article 1: name  -->
        <article class="main-section-article">
          <h1 class="main-section-article-h1">Volkswagen Golf</h1>
          <h2 class="main-section-article-h2">0km, DSG 1.4t año 2021</h2>
          <div class="main-section-article-price">
            25.000
            <img class="main-section-article-img" src="/images/usdt-logo.svg" />
          </div>
        </article>
        <!-- Article 2: description -->
        <article class="main-section-article-2">
          <div class="main-section-article-div">
            <h3 class="main-section-article-h3">Descripción</h3>
            <ul class="main-section-article-ul">
              <li>Dirección eléctrica</li>
              <li>Frenos ABS</li>
              <li>Alarma</li>
              <li>Control eléctrico para los retrovisores</li>
              <li>Reproductor de MP3</li>
            </ul>
          </div>
        </article>
        <!-- Article 3: pay details, button add to cart -->
        <article class="main-section-article-2">
          <div class="main-section-article-div-2">
            <h3>Detalle de pago</h3>
            <div>
              <ul>
                <li class="main-section-article-ul-li">
                  25.000<img
                    class="main-section-article-ul-img-1"
                    src="/images/usdt-logo.svg"
                  />
                </li>
                <li class="main-section-article-ul-li-2">
                  0.53175<img
                    class="main-section-article-ul-img-2"
                    src="/images/btc-logo.svg"
                  />
                </li>
                <li class="main-section-article-ul-li-2">
                  7.23225<img
                    class="main-section-article-ul-img-2"
                    src="/images/eth-logo.svg"
                  />
                </li>
              </ul>
            </div>
            <div class="main-section-article-button">
              <button class="main-section-article-button-2" type="submit">
                Agregar al carrito
              </button>
            </div>
          </div>
        </article>
      </section>
    </main>
    <!-- Footer: 2 sections -->
    <footer class="footer">
      <!-- Section 1-->
      <section class="footer-section">
        <!-- Section 1: article 1-->
        <article class="footer-article">
          <i class="fas fa-credit-card"></i>
          <h3 class="footer-section-article-h3">Pagá con criptomonedas</h3>
          <p class="footer-section-p">
            Pagando con PayCrypt, podés utilizar tu billetera virtual de
            confianza y cualquier criptomoneda. ¡Y siempre es seguro!
          </p>
        </article>
        <!-- Section 1: article 2-->
        <article class="footer-article">
          <i class="fas fa-gift"></i>
          <h3 class="footer-section-article-h3">Olvidate de las comisiones</h3>
          <p class="footer-section-p">
            Usando nuestro sistema P2P, olvidate para siempre de las comisiones.
            Es un beneficio de PayCrypt.
          </p>
        </article>
        <!-- Section 1: Article 3-->
        <article class="footer-article">
          <i class="fas fa-user-shield"></i>
          <h3 class="footer-section-article-h3">
            Seguridad, de principio a fin
          </h3>
          <p class="footer-section-p">
            ¿No te gusta? ¡Devolvelo! Con PayCrypt, no hay nada que no puedas
            hacer, porque estás siempre protegido.
          </p>
        </article>
      </section>
      <!-- Section 2-->
      <section class="footer-copyright">
        <p class="footer-section-p">
          Copyright © 1999-2020 MercadoLiebre S.R.L.
        </p>
      </section>
    </footer>
  </body>
</html>
