<!DOCTYPE html>
<html lang="en">
  <!-----------------HEAD - ACÁ LINKEO ENLACES EXTERNOS------------------------->
  
  <%- include ('./partials/head.ejs', {titulo: 'PayCrypt', cssSheets: 'styles_index'}) %>

  <body>

    <%- include ('./partials/header.ejs') %> 

    <!-----------------ACÁ SE MUESTRAN TODOS LOS PRODUCTOS------------------------->
    <main>
      <!------BANNER------------->
      <div class="banner">
        <img src="/images/banner.png" alt="Banner">
      </div>

      <!------ACÁ ARRANCAN LOS PRODUCTOS----------->
      <h2 class="buscados">Todos los productos</h2>

      <section class="list-of-products">

        <!------PRODUCTOS AUTOMATIZADOS CON EJS----------->
        <% productSent.forEach(element => { %> 
        <article class="each-product">
          <a href="/products/<% element.id %> ">
            <div class="img-product">
              <img src="/images/auto.jpg" alt="">
            </div>
              
            <div class="product-description">
              <p class="price"><%= element.price-product %> 
                <span>
                  <img src="images/usdt-logo.svg" alt="" class="usdt">
                </span>
              </p>
              <p class="category">
                <i class="far fa-folder-open"></i>
                <% element.category %> 
              </p>
              <h3 class="name-of-product"><% element.name %> </h3>
              <p class="description">0km, DSG 1.4t año 2021</p>
              <p class="date">
                <i class="fas fa-clock"></i>
                3 días atrás
              </p>
            </a>
          </div>

          <div class="place">
            <i class="fas fa-map-marker-alt"></i>
            <p>La Plata, GBA Sur.</p>
          </div>
        </article>
        <% }) %> 

    </main>
    <!------ACÁ TERMINA EL MAIN------------------------------------------------------>
    <%- include ('./partials/footer.ejs') %> 
  </body>
</html>